table td{
    border: 1px solid blueviolet;
    background-color: chocolate;
    color:aliceblue;
    text-align: center;
}
td{
    width: 100px;
}
.menuMobile{
    display:none;
}
@media only screen and (max-width:600px){
    .menuMobile{
        display:block;
    }
    .menuDesktop{
        display:none;
    }
}
