h1{
    text-align:center;
    color:rgb(198, 19, 168);
}
.ol_li{
    background-color: rgb(165, 11, 170);
    color: aliceblue;
}
.format_p{
    text-transform: capitalize;
    color: blue;
    font-size: 15pt;
    font-weight: bold;
}
strong{
    text-decoration: underline ;
}
p{
    /*text-indent: 100px;*/
    padding:20px;
    border: 2px solid rgb(255, 0, 17);
}
div{
    width:300px;
    height:150px;
    border:1px solid pink ;
    padding:5px;
    text-align: justify;
    margin-left: 100px;
    position:fixed;
    right:0;
    top:0;
}
